<header class="header-page">
  <nav class="header-nav">
    <div class="logo">
      <svg class="logo-icon" width="40" height="40">
        <use href="./img/icons/icons.svg#icon-logo"></use>
      </svg>
    </div>

    <ul class="nav-list">
      <li><a class="nav-link active" href="#">About us</a></li>
      <li><a class="nav-link active" href="#">Tours</a></li>
      <li><a class="nav-link active" href="#">Reviews</a></li>
      <li><a class="nav-link active" href="#">Gallery</a></li>
      <li><a class="nav-link active" href="#">Contacts</a></li>
    </ul>
  </nav>

  <button class="header-btn" type="button">
    <svg class="btn-menu-icon" width="40" height="40">
      <use href="./img/icons/icons.svg#icon-menu"></use>
    </svg>
  </button>
</header>
