<div class="backdrop-mobile is-open bg-img">
  <div class="logo">
    <svg class="logo-icon" width="40" height="40">
      <use href="./img/icons/icons.svg#icon-logo"></use>
    </svg>
  </div>

  <button class="btn-close" type="button">
    <svg class="icon-close" width="40" height="40" stroke="#F7FBFB">
      <use href="./img/icons/icons.svg#icon-close"></use>
    </svg>
  </button>

  <div class="menu">
    <ul class="nav-list">
      <li><a class="nav-link" href="#">About us</a></li>
      <li><a class="nav-link" href="#">Tours</a></li>
      <li><a class="nav-link" href="#">Reviews</a></li>
      <li><a class="nav-link" href="#">Gallery</a></li>
      <li><a class="nav-link" href="#">Contacts</a></li>
    </ul>

    <ul class="social-list">
      <li>
        <a
          class="social-link"
          aria-label="Telegram Company"
          href="http://telegram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="40" height="40">
            <use href="./img/icons/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-link"
          aria-label="Instagram Company"
          href="http://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="40" height="40">
            <use href="./img/icons/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          class="social-link"
          aria-label="Facebook Company"
          href="http://facebook.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-icon" width="40" height="40">
            <use href="./img/icons/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
