<ul class="backdrop-tour">
  <li class="modal-item img-hoverla-day1">
    <button class="btn-close" type="button">
      <svg class="icon-close" width="30" height="30" stroke="#F7FBFB">
        <use href="./img/icons/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="title-modal-item">Ascent to Hoverla</h3>

    <h4 class="day-modal-item">1 day</h4>

    <ul class="list-modal-item">
      <li>Departure from Lviv</li>
      <li>Manyava Hermitage</li>
      <li>Manyava waterfall</li>
      <li>Arrival to Bukovel</li>
      <li>Check-in</li>
      <li>Dinner</li>
      <li>Evening by the fireplace</li>
    </ul>

    <div class="block-modal-item">
      <p class="section-text semibold">From UAH 4,499/person</p>
      <button class="btn open-modal-window" type="button">BOOK A TOUR</button>
    </div>
  </li>
  <li class="modal-item img-hoverla-day2" hidden>
    <h3 class="title-modal-item">Ascent to Hoverla</h3>

    <h4 class="day-modal-item">2 day</h4>

    <ul class="list-modal-item">
      <li>Breakfast</li>
      <li>Ascent to Hoverla</li>
      <li>Dinner</li>
      <li>Reacretion</li>
      <li>Sauna</li>
      <li>Dinner</li>
    </ul>
  </li>
  <li class="modal-item img-hoverla-day3" hidden>
    <h3 class="title-modal-item">Ascent to Hoverla</h3>

    <h4 class="day-modal-item">3 day</h4>

    <ul class="list-modal-item">
      <li>Breakfast</li>
      <li>A walk around Bukovel</li>
      <li>Check out from the hotel</li>
      <li>Yaremche</li>
      <li>Arrival in Lviv</li>
    </ul>
  </li>
</ul>
