<section class="section our-advantages">
  <div class="container">
    <h2 class="section-title">Our advantages</h2>

    <div class="container-adv-img-list">
      <div class="adv-block-img">
        <picture>
          <source
            srcset="
              ./img/our-advantages/desktop/advantages_1@1x.jpg 1x,
              ./img/our-advantages/desktop/advantages_1@2x.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/our-advantages/tablet/advantages_1@1x.jpg 1x,
              ./img/our-advantages/tablet/advantages_1@2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/our-advantages/mobile/advantages-mob@1x.jpg 1x,
              ./img/our-advantages/mobile/advantages-mob@2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="adv-img-one"
            src="./img/our-advantages/mobile/advantages-mob@1x.jpg"
            alt="Mountaines"
            width="315"
            height="554"
            loading="lazy"
          />
        </picture>
        <picture class="advantages-img-desk-tab">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/our-advantages/desktop/advantages_2@1x.jpg 1x,
              ./img/our-advantages/desktop/advantages_2@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/our-advantages/tablet/advantages_2@1x.jpg 1x,
              ./img/our-advantages/tablet/advantages_2@2x.jpg 2x
            "
          />
          <img
            class="adv-img-two"
            src="./img/our-advantages/tablet/advantages_2@1x.jpg"
            alt="Mountaines"
            width="377"
            height="588"
            loading="lazy"
          />
        </picture>
        <picture class="advantages-img-desk">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/our-advantages/desktop/advantages_3@1x.jpg 1x,
              ./img/our-advantages/desktop/advantages_3@2x.jpg 2x
            "
          />
          <img
            class="adv-img-three"
            src="../img/our-advantages/desktop/advantages_3@1x.jpg"
            alt=""
            width="377"
            height="507"
            loading="lazy"
          />
        </picture>
      </div>
      <ul class="adv-list">
        <li class="adv-item">
          <svg class="icon-star" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
          <p class="section-text adv-text">author's tours</p>
        </li>
        <li class="adv-item">
          <svg class="icon-star" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
          <p class="section-text adv-text">individual approach</p>
        </li>
        <li class="adv-item">
          <svg class="icon-star" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
          <p class="section-text adv-text">affordable prices</p>
        </li>
        <li class="adv-item">
          <svg class="icon-star" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
          <p class="section-text adv-text">comfortable transfer</p>
        </li>
        <li class="adv-item">
          <svg class="icon-star" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
          <p class="section-text adv-text">professional guides</p>
        </li>
        <li class="adv-item">
          <svg class="icon-star" width="24" height="24">
            <use href="./img/icons/icons.svg#icon-star"></use>
          </svg>
          <p class="section-text adv-text">accommodation in hotels from 3+ *</p>
        </li>
      </ul>
    </div>
  </div>
</section>
