<section class="section tours">
  <div class="container">
    <h2 class="section-title">Upcoming tours</h2>
    <ul class="tour-list-card">
      <li class="tour-card">
        <picture class="tour-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/upcoming-tours/desktop/hoverla@1x.jpg 1x,
              ./img/upcoming-tours/desktop/hoverla@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/upcoming-tours/tablet/hoverla@1x.jpg 1x,
              ./img/upcoming-tours/tablet/hoverla@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/upcoming-tours/mobile/hoverla@1x.jpg 1x,
              ./img/upcoming-tours/mobile/hoverla@2x.jpg 2x
            "
          />
          <img
            src="./img/upcoming-tours/mobile/hoverla@1x.jpg"
            alt="Picture nature of Hoverla"
            loading="lazy"
            width="377px"
            height="438px"
          />
        </picture>

        <div class="tour-card-text">
          <h3 class="section-caption semibold">Ascent to Hoverla</h3>
          <p class="section-text semibold">From UAH 4,499/person</p>
          <button class="btn tour-btn-open" type="button">MORE DETAILS</button>
        </div>
      </li>

      <li class="tour-card">
        <picture class="tour-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/upcoming-tours/desktop/bukovel@1x.jpg 1x,
              ./img/upcoming-tours/desktop/bukovel@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/upcoming-tours/tablet/bukovel@1x.jpg 1x,
              ./img/upcoming-tours/tablet/bukovel@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/upcoming-tours/mobile/bukovel@1x.jpg 1x,
              ./img/upcoming-tours/mobile/bukovel@2x.jpg 2x
            "
          />
          <img
            src="./img/upcoming-tours/mobile/bukovel@1x.jpg"
            alt="Picture nature of Bukovel"
            width="377px"
            height="438px"
            loading="lazy"
          />
        </picture>

        <div class="tour-card-text">
          <h3 class="section-caption semibold">Ski tour to Bukovel</h3>
          <p class="section-text semibold">From UAH 7,499/person</p>
          <button class="btn tour-btn-open" type="button">MORE DETAILS</button>
        </div>
      </li>

      <li class="tour-card">
        <picture class="tour-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./img/upcoming-tours/desktop/carpathians@1x.jpg 1x,
              ./img/upcoming-tours/desktop/carpathians@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./img/upcoming-tours/tablet/carpathians@1x.jpg 1x,
              ./img/upcoming-tours/tablet/carpathians@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              ./img/upcoming-tours/mobile/carpathians@1x.jpg 1x,
              ./img/upcoming-tours/mobile/carpathians@2x.jpg 2x
            "
          />
          <img
            src="./img/upcoming-tours/mobile/carpathians@1x.jpg"
            alt="Picture nature of Hoverla"
            width="377px"
            height="438px"
            loading="lazy"
          />
        </picture>

        <div class="tour-card-text">
          <h3 class="section-caption semibold">Week in Carpathians</h3>
          <p class="section-text semibold">From UAH 9,999/person</p>
          <button class="btn tour-btn-open" type="button">MORE DETAILS</button>
        </div>
      </li>
    </ul>

    <ul class="list-btn-arrow">
      <li>
        <button class="btn-arrow arrow-left" type="button">
          <svg class="icon-arrow" width="28" height="28">
            <use href="./img/icons/icons.svg#icon-arrow-left"></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="btn-arrow arrow-right" type="button">
          <svg class="icon-arrow" width="28" height="28">
            <use href="./img/icons/icons.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
