/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: normal;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  line-height: normal;
}

button {
  cursor: pointer;
  outline: none;
  line-height: normal;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input {
  padding: 0;
  width: 100%;
  outline: none;
}
