@import url('./font.css');
@import url('./normalize.css');
@import url('./container.css');
@import url('./reset.css');
@import url('./base.css');

/* sections */
@import url('./header.css');
@import url('./hero.css');
@import url('./social-links.css');
@import url('./about-us.css');
@import url('./our-advantages.css');
@import url('./upcoming-tours.css');
@import url('./reviews.css');
@import url('./gallery.css');
@import url('./questions.css');
@import url('./footer.css');

/* modal windows */
@import url('./modal-book-tours.css');
@import url('./modal-tours-details.css');

:root {
  --light: #f7fbfb;
  --primary-text: #1b1d1b;
  --secondary-text: #202321;
  --blue: #5b86a1;
  --grey: #a3a5a3;
}

:root {
  --font-family: 'Montserrat', sans-serif;
  --regular: 400;
  --medium: 500;
  --semibold: 600;
}
